In [1]:
import pandas as pd
import yfinance as yf

In [2]:
ticker_list = ['xom', 'cvx', 'rydaf', 'ptr', 'tte', 'cop', 'eqnr', 'bp', 'enb', 'pbr']

In [3]:
oil_companies_stock_prices = []
for t in ticker_list:
    ticker = yf.Ticker(t)
    if len(oil_companies_stock_prices) != 0:
        oil_companies_stock_prices.insert(len(oil_companies_stock_prices.columns), t, ticker.history(period='max')['Close'])
    else:
        oil_companies_stock_prices = pd.DataFrame(ticker.history(period='max')['Close'])
        oil_companies_stock_prices.columns = [t]

In [4]:
oil_companies_stock_prices

,xom,cvx,rydaf,ptr,tte,cop,eqnr,bp,enb,pbr
Date,,,,,,,,,,
1962-01-02,0.101300,0.355684,NaN,NaN,NaN,NaN,NaN,0.052379,NaN,NaN
1962-01-03,0.102805,0.354881,NaN,NaN,NaN,NaN,NaN,0.053096,NaN,NaN
1962-01-04,0.103055,0.351670,NaN,NaN,NaN,NaN,NaN,0.052140,NaN,NaN
1962-01-05,0.100799,0.342838,NaN,NaN,NaN,NaN,NaN,0.050705,NaN,NaN
1962-01-08,0.100548,0.341232,NaN,NaN,NaN,NaN,NaN,0.051661,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-03-11,84.919998,170.899994,25.440001,49.549999,49.650002,98.410004,32.290001,28.270000,44.459999,13.76
2022-03-14,81.879997,166.720001,25.059999,46.830002,49.970001,96.550003,32.060001,27.860001,43.919998,13.48
2022-03-15,77.220001,158.279999,25.000000,44.759998,49.759998,95.050003,32.189999,28.049999,44.060001,13.07
2022-03-16,76.930000,157.710007,24.620001,46.490002,50.110001,94.820000,32.270000,28.610001,44.020000,13.26
2022-03-17,78.980003,160.440002,25.740000,49.180000,50.790001,98.830002,34.150002,29.040001,44.750000,13.02

In [5]:
oil_companies_stock_prices.to_csv('oil_companies_stock_prices.csv')